# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
loadtest

# Redis runtime files
redis/
redis.zip
dump.rdb

# OS artifacts
.DS_Store
Thumbs.db

# Go
*.test
coverage.txt

# IDE
.idea/
.vscode/

# Runtime
audit.log
